@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.lazywasabi.net/fonts/NotoSansThai/NotoSansThai.css');
@import url('http://fonts.cdnfonts.com/css/nimbus-roman-no9l');
@import 'mapbox-gl/dist/mapbox-gl.css';

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Noto Sans Thai', 'Nimbus Roman No9 L', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.mapboxgl-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
svg text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
svg text::selection {
  background: none;
}
